<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{home/layout/layout}"
>
<head>
  <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
  <!--    필요힌 css, script 추가영역 -->

</head>

<div layout:fragment="content">
<!--  페이지타이틀 -->
  <section id="page-title">
    <div class="container clearfix">
      <h1>Sign In</h1>
    </div>
  </section>
<!--  페이지 타이틀 끝-->

  <section id="content">
    <div class="content-wrap">
      <div class="container clearfix">
        <div class=" justify-content-center row">
          <div class=" col-md-8">
            <h3>Don't have an Account?</h3>
            <form id="register-form" name="register-form" class="row" action="" method="POST">
              <div class="col-12 form-group">
                <label for="register-form-userId">ID:</label>
                <input type="text" id="register-form-userId" name="userId" value="" class="form-control">
              </div>
              <div class="col-12 form-group">
                <label for="register-form-email">Email Address:</label>
                <input type="email" id="register-form-email" name="email" value="" class="form-control">
              </div>
              <div class="col-12 form-group">
                <label for="register-form-name">Choose a Username:</label>
                <input type="text" id="register-form-name" name="username" value="" class="form-control">
              </div>
              <div class="w-100"></div>
              <div class="col-6 form-group">
                <label for="register-form-password">Choose Password:</label>
                <input type="password" id="register-form-password" name="password" value="" class="form-control">
              </div>
              <div class="col-6 form-group">
                <label for="register-form-repassword">Re-enter Password:</label>
                <input type="password" id="register-form-repassword" name="password2" value="" class="form-control">
              </div>
              <div class="w-100"></div>
              <div class="col-12 form-group">
                <a onclick="register();" class="btn btn-dark m-0" id="register-form-submit">Register Now</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/register.js"></script>
</html>