<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
</head>

<div layout:fragment="content">
    <section id="page-title" class="page-title-parallax page-title-dark"
             style="background-image: url('/images/13.gif'); background-size: cover; padding: 120px 0px; background-position: 0px -200.237px;"
             data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
        <div class="container clearfix">
            <h1>UPDATE</h1>
        </div>
    </section>

    <section class="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="write">

                    <th:block>
                        <input type="hidden" id="username" th:value="${session.m2.username}">
                        <input type="hidden" id="userId" th:value="${session.m2.userId}">
                    </th:block>
                    <table class="table "style="text-align: center; border: 1px solid #dddddd">
                        <thead>
                        <tr>
                            <th colspan=""	style="background-color: #eeeeee; text-align: center;">
                                이쁜 말 쓰세요 ㅡㅡ!
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <input type="text" id="title" class="form-control" placeholder="글 제목" name="title" maxlength="50"/>
                            </td>
                        </tr>
                        <tr >
                            <td>
                                <textarea id="editor" class="form-control" placeholder="글 내용" name="content" maxlength="2048" style="height: 350px;"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--            <input class="form-control-file" type="file" name="uploadFile">-->
                    <button  onclick="boardUpdate()" class="button button-border button-thin button-rounded button-fill button-aqua button-reveal  text-right float-right"><i class="icon-line-arrow-right"></i><span>수정하기</span></button>

                </div>
            </div>
        </div>
    </section>


    <script>

        //노트
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: {
                    items: [
                        'heading', '|',
                        'bold', 'italic', '|',
                        'link', '|',
                        'outdent', 'indent', '|',
                        'bulletedList', 'numberedList',
                        'blockQuote', '|',
                        'undo', 'redo'
                    ],
                    shouldNotGroupWhenFull: true
                }
            })
            .then(newEditor => {
                editor = newEditor;
            })

            .catch(error => {
                console.log(error);
            });


        function boardUpdate() {
            let id = location.search.split('=')[1]
            let title = $('#title').val()
            let contents = editor.getData();


            console.log(title)
            console.log(contents)
            console.log(id)
            console.log("업데이튼ㄴㄴㄴㄴㄴ")


            if (title == '') {
                alert('제목을 적어주세요!')
                return
            } else if (contents == '') {
                alert('내용을 작성해주세요!')
                return
            }

            let data = {

                'title': title,
                'contents': contents
            }
            $.ajax({
                type: 'PUT',
                url: `/board/update/${id}`,
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    alert("게시물 수정이 완료 되었습니다!")
                    window.history.back()
                }
            })
        }

    </script>
</div>
</html>