<<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<footer  id="footer" class="dark" th:fragment="footerFragment">
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container">

        <div class="row col-mb-30">

          <div class="col-md-6 text-center text-md-left">
          </div>

          <div class="col-md-6 text-center text-md-right">
            <div class="d-flex justify-content-center justify-content-md-end">
              <a href="https://velog.io/@swcide" class="social-icon inline-block si-small si-borderless mb-0 si-pinterest">
                <i class="icon-bold1"></i>
                <i class="icon-bold1"></i>
              </a>

              <a href="https://github.com/swcide" class="social-icon si-small si-borderless si-github">
                <i class="icon-github"></i>
                <i class="icon-github"></i>
              </a>

            </div>

            <div class="clear"></div>

            <i class="icon-envelope2"></i> swcide2@gmail.com<span class="middot">·</span> <i class="icon-headphones"></i> 010-9101-4044<span class="middot"></span>
          </div>

        </div>

      </div>
    </div><!-- #copyrights end -->

</footer>

</html>